h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-weight: bolder;
    text-align: center;
  }
  .image-box {
    display: block;
    max-width: 25%;
    height: auto;
  }
  .desc {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
  }
.portfolio {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}
  